* {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  text-align: center;
}

body {
  background-color: black;
  padding: min(50px, 7%);
}

.card {
  padding: 2em;
  border: 1px solid rgb(75, 82, 92);
  border-radius: 10px;
  background-color: #222429;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}
