.container{
    padding: 2em;
  border: 1px solid rgb(75, 82, 92);
  border-radius: 10px;
  background-color: #222429;
  margin-top: 25px;
}
button{
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
}